.wrap {
  width: 90%;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #eee;
}

img {
  max-width: 100%;
  height: auto;
}

.row {}

.more:link,
.more:visited {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

[class*='col-1-4'] {
  float: left;
}

.col-1-3 {
  width: 33.33%;
  padding: 20px;
}

.col-2-3 {
  width: 66.66%;
  padding: 20px;
}

.col-1-4 {
  width: 25%;
  padding: 10px;
}

.show {
  width: 100%;
  height: 100%;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff;
  display: block;
  cursor:pointer;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.aspect {
  position: relative;
  padding-bottom: 120%;
  height: 0;
  overflow: hidden;
}

.show .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}


/* SECOND */

.show-second img {
  transition: all 0.3s ease-in-out;
}

.show-second .mask {
  background-image: url('../images/gplaypattern.png');
  background-color:#e0e0e0;
  transform: translateX(-110%);
  opacity: 1;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 7px #ccc;
}

.show-second h2 {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 2px 0 5px 0
}

.show-second p {
  opacity: 0;
  color: #333;
  transition: all 0.2s linear;
  font-size: 2.7vmin;
  margin: 5px 0 ;
}

.show-second a.more {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #2e7d32;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border-radius: 7px;
  font-size: 2vmin;
}
 
.show-second a.more:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.show-second:hover .mask {
  transform: translateX(0px);
}

.show-second:hover img {
  transform: translateX(80%);
  transition-delay: 0.1s;
}

.show-second:hover p {
  opacity: 1;
  transition-delay: 0.4s;
  
}
/* Responsive */
@media only screen and (max-width: 767px) {
  .col-1-4 {
    width: 50%;
    padding: 10px;
    overflow: hidden;
    clear: right;
  }
  .wrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .mobile-clear {
    clear: both;
  }
}

