/* Icon font for arrow icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon_arrows/icomoon.eot');
	src:url('../fonts/icomoon_arrows/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon_arrows/icomoon.woff') format('woff'),
		url('../fonts/icomoon_arrows/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon_arrows/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Iconfont by Icomoon http://icomoon.io/ */

/* Accordion style */
.cbp-ntaccordion {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cbp-ntsubaccordion {
	list-style: none;
}

.cbp-ntaccordion .cbp-nttrigger {
	cursor: pointer;
} 
.cbp-ntcontent > div {
	margin: 3%;
	overflow: hidden;
}
.cbp-ntcontent {
	background: #fafafa;
}
.cbp-ntaccordion h2 {
	font-size: 2em;
	margin: 1em 0;
}
.cbp-ntaccordion h3 {
	margin: 0.3em 0 0.3em 0;
    padding: 0.5em 1em;
    border-bottom: 1px solid #ddd;
    font-size: 1.5em;
    font-weight: 300;
    background: #03a9f4;
    color: #fff;
    -moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;  
  
}
.cbp-ntaccordion h4 {
	font-size:1.2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 0.5em 0 0.5em;
	margin: 0 0 0.5em;
}
.cbp-ntaccordion h5 {
	font-size: 1.2em;
	color: #aaa;
	padding: 0.5em 0 0.5em;
	margin: 0 0 0.5em;
	font-weight:bold;
}
.cbp-ntaccordion .cbp-ntcontent p {
	color: #888;	 
	font-weight: 300;
	line-height: 1.5;
	padding: 0.2em 0 1.5em;
	margin: 0;
}

/* Arrow icons */
.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #ddd;
	margin-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
	font-size: 75%;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\36";
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
	content: "\35";
	color: inherit;
}
.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\34";
	color: inherit;
}

.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\32";
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
	content: "\33";
	color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\31";
	color: inherit;
}

/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
	overflow: hidden;
	max-height: 0;
    transition: max-height 0.5s ease-out;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
	height: auto;
	max-height: 1900px;
    transition: max-height 0.5s ease-out;
}

/* Example for media query */
@media screen and (max-width: 32em) { 
	.cbp-ntaccordion {
		font-size: 70%;
	}
}
@media screen and (max-width: 480px) { 

	#terms-tab .jfilestyle input {
		width: 90px !important;
	}
	#merchant-logo input {
		width:60px !important;
	}
} 
.mandatory-field {
	color:#f44336;
	margin-left: 2px;
}
.dashes {
	margin: 5% 3% !important;
	font-size: 15px; 
}
.dashes:before, .dashes:after {
	content:"----"; 
	margin: 0 5px
}
.radios label {
	margin:0 5px;
}
.icheckbox_minimal-blue, .iradio_minimal-blue {
	margin: 0 5px;
}
#agreement-form textarea {
	resize:none;
	height:220px;
}
#terms-tab .jfilestyle input{
    margin-left: 15px !important;
}
.add-new-row {
	margin: 13px;
}
#credit-types {
	width: 211px;
    height: 32px;
}
.footer {
	margin-top: 10px;
}
.footer .btn {
	margin-right:5px;
}
#payment-table table input {
	width: 180px;
}
 
 .onoffswitch {
    position: relative; width: 58px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 24px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #237A35; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 9px; margin: 7px; height: 9px;
    background: #FFFFFF;
    position: absolute; top: 2px; bottom: 0;
    right: 31px;
    border: 1px solid #999999; border-radius: 24px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.available-date, .orders-select {
	display: inline-block;
    width: 109px;
	margin-left: 5px;
}
.catalog {
	background: #fff;
    padding: 18px;
    margin: 10px;
    overflow: hidden;
}
.skin-green .treeview-menu>li>a.hover{
	color: #fff ;
}
 .error {
	 color: #dd4b39;
 }
 .market-logo {
	width: 120px;
    height: 39px;
 }
 .margin-top {
	 margin-top: 20px;
 }
 
 .upper {
	 text-transform: uppercase;
 }
 .block {
	 margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
	 
 }
 .overflow {
	 overflow:hidden;
 }